<div class="root">
  <div
    class="background"
    [ngStyle]="{
      'background-image':
        'url(' +
        product?.productIcon +
        '), url(/assets/images/celebration2.jpg)'
    }"
  ></div>
  <div class="content">
    <div class="my-card">
      <div class="row">
        <div
          class="col-6 front-img"
          [ngStyle]="{
            'background-image':
              'url(' +
              product?.productIcon +
              '), url(/assets/images/celebration2.jpg)'
          }"
        ></div>
        <div class="col-6 section-product">
          <div class="p-5">
            <div class="section-back" (click)="goBack()">
              <img class="back-img" src="/assets/images/back.svg" alt="" />
              <span class="back-text">Back to Products</span>
            </div>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/']">Home</a>
                </li>
                <li class="breadcrumb-item" (click)="redirectToCategory()">
                  <a> {{ product?.categoryName }} </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{ product?.productName }}
                </li>
              </ol>
            </nav>
            <h1 class="product-title">
              {{ product?.productName }}
              <span
                class="badge"
                *ngIf="product?.discountPercent > 0"
                [ngStyle]="{ backgroundColor: badgeColor() }"
              >
                -{{ product?.discountPercent }}%
              </span>
            </h1>
            <h2 class="product-price">
              ₹ {{ reducedPrice() }}
              <span class="reduced">₹ {{ product?.productPrice }}</span> 
            </h2>
            <p class="product-description">
              {{ product?.productDescription }}
            </p>
            <div class="quantity">
              <button class="quantity-btn-left" (click)="decrement()">-</button>
              <input
                class="quantity-input"
                type="number"
                placeholder="1"
                [(ngModel)]="count"
                onkeydown="return false"
              />
              <button class="quantity-btn-right" (click)="increment()">
                +
              </button>
              <p class="quantity-stock">
                Available Stock: {{ product?.productStock }}
              </p>
            </div>
            <div class="cart-buttons">
              <button class="primary-btn" (click)="addNewItem(product.productId)">
                <span
                  *ngIf="loadingService.loading"
                  class="spinner-border spinner-border-sm"
                ></span>
                Add to Cart
              </button>
              <button class="secondary-btn" [routerLink]="['/products/cart']">
                View Cart
              </button>
            </div>
            <br><br><br>
            <!-- <button class="checkout-btn" [routerLink]="['/products/cart']">Checkout</button> <br /> -->
            <div class="section-info" (click)="redirectToCategory()">
              <img class="info-img" src="/assets/images/search.svg" alt="" />
              <span class="info-text">Search for similar products</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
