<div class="parent">
  <div class="section-category-carausel" *ngIf="(!this.activeCategory && !this.productQuery)">
    <app-category-carausel></app-category-carausel>
  </div>
  <!-- Displyed when no category is selected -->
  <div class="category" *ngIf="!activeCategory && !productQuery">
    All Products
    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ activeSortType?.name }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" >
        <a *ngFor="let types of sortByTypes" class="dropdown-item" (click)="onChangeSorting(types)"> {{ types.name }} </a>
      </div>
    </div>
    <span *ngIf="loadingService.loading" class="spinner-grow"></span>
  </div>
  <!-- Displayed when we pecify a cateogy -->
  <div class="category" *ngIf="!productQuery && activeCategory">
    {{ activeCategory }}
    <img
      *ngIf="activeCategory !== null"
      (click)="resetAll()"
      class="category-icon"
      data-toggle="tooltip"
      data-placement="right"
      title="Show all categories"
      src="/assets/images/x-circle.svg"
      alt=""
    />
    <span *ngIf="loadingService.loading" class="spinner-grow"></span>
  </div>
  <!-- Displayed when we enter a seacrh criteria -->
  <div class="category" *ngIf="!activeCategory && productQuery">
    {{ "Search: " + productQuery }}
    <img
      (click)="resetAll()"
      class="category-icon"
      data-toggle="tooltip"
      data-placement="right"
      title="Show all categories"
      src="/assets/images/x-circle.svg"
      alt=""
    />
    <span *ngIf="loadingService.loading" class="spinner-grow"></span>
  </div>
  <app-product-card
    class="product-card"
    *ngFor="let item of productList"
    [productId]="item.productId"
    [productName]="item.productName"
    [productPrice]="item.productPrice"
    [productImageUrl]="item.productIcon"
    [productDescription]="item.productDescription"
    [productStatus]="item.productStatus"
    [productQuantity]="item.productStock"
    [discountPercent]="item.discountPercent"
    (addToCartEvent)="addToCart($event)"
  ></app-product-card>
</div>
