section {
  width: 50%;
  justify-content: left;
  text-align: left;
  /* margin-top: 24px; */
}

section::before {
  display: block;
  height: 2px;
  background-color: #fb5a69;
  content: " ";
  width: 100px;
  margin: 20px 0;
  transition: 0.2s;
}

section:hover::before {
  width: 200px;
}

.summary {
  text-transform: uppercase;
  font-size: 150%;
  width: 100%;
  transition: 0.2s;
  display: flex;
  justify-content: space-between;
}

.summary:hover {
  transform: scaleY(1.02);
}

.item {
  color: #1f9db9;
  letter-spacing: 1.2px;
  font-weight: 600;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: right;
}

.payment-page {
  background-image: url("^assets/images/pay_now2.png");
  background-repeat: no-repeat;
  background-position: right;
  /* background-size: 300px; */
  background-size: contain;
}

/* Buttons */
.primary-btn,
.secondary-btn {
  background: #1f9db9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: 0.2s;
  margin-right: 12px;
  margin-top: 12px;
  overflow: hidden;
}

.primary-btn[disabled],
.secondary-btn[disabled] {
  opacity: 0.4;
  cursor: default;
  pointer-events: none;
}

.primary-btn:hover,
.secondary-btn:hover {
  transform: scale(1.1);
}

.secondary-btn {
  background: #fff;
}

.stripe {

  background: #5433ff;
}

.razor-pay {
  transform: scale(4);
}

.pay-with {
  font-size: larger;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 12px;
  margin-left: 5%;
}

.spinner-border {
  vertical-align: middle;
}
