/* You can add global styles to this file, and also import other style files */

$primary: #24b7d8;
$secondary: #fb5a69;
$white: white;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.primary-btn,
.secondary-btn {
  background: $primary;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: $white;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
  transition: 0.2s;
  margin-right: 12px;
  margin-top: 12px;

  &[disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background: $white;
    color: $primary;
    transform: scale(1.1);
  }
}

.secondary-btn {
  background: $secondary;
  &:hover {
    color: $secondary;
  }
}

// Utility Classes
.block {
  display: block;
}
