/* Fixes extra white content on right */
.row {
  margin: 0;
}

.my-card {
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  border-radius: 2px;
}

.user-form {
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.logo {
  padding: 24px;
  height: 204px;
  transition: all 0.5s;
}

.logo:hover {
  transform: scale(1.2);
}

.title {
  height: 80px;
}

.text-center {
  cursor: pointer;
}
.logo:focus, .title:focus {
  outline: none;
}


.text-center:hover::after {
  width: 200px;
}

.logo-container hr, hr {
  border-top: 3px solid #fb5a69;
  width: 20%;
  transition: 0.2s;
}

.logo-container:hover hr, hr:hover {
  width: 60%;
}

.actions{
  color: #24b7d8;
}


label {
  font-size: 120%;
  color: #24b7d8;
}